<!DOCTYPE html>
{% load staticfiles %} 
<html>
  <head>
    {% csrf_token %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
  </head>
  <body>
  <div class="navbar navbar-default navbar-fixed-top">
    <img class="navbar-logo" src="{% static 'img/logo_green.png' %}" >
    <button class='change-chart btn pull-right'>See Bar Plot by State</button>
  </div>
  <div id='main-container'>
    <h2 class='map-title'>Ratio of Internal Medicine Doctors to County Population</h2>
    <h2 class='bar-title' style='display:none;'></h2>
    <form id='doctor-form'>
      <button class=" btn">Submit</button>
    </form>
    <div class='map-container'>
      <div class='svg-map-container'>
      </div>
    </div>
    <div class='bar-container' style='display:none;'>
      <div class='svg-bar-container'>
      </div>
    </div>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.10/d3.min.js" type="text/javascript"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.min.js"></script>
  <script src="//d3js.org/queue.v1.min.js"></script>
  <script src="//d3js.org/topojson.v1.min.js"></script>
  <script src="{% static "js/d3-map.js" %}"></script>
  <script src="{% static "js/d3-bar-plot.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>
  </body>
</html>









